:root {
  --baseContainerDarkBg: #242526;
  --baseDarkBg: #18191a;
  --baseItemHoverDark: #3a3b3c;
  --baseItemHoverLighter: #4e4f50;
  --baseLogoBlue: #0a80ec;
  --baseFontGrey: #b0b3b8;
  --baseActive: #2d88ff;
  --baseInputGrey: #3a3b3c;
  --baseContainerLightBg: #f0f2f5;
  --baseBlue: #1877f2;
  --baseFontBlue: #1e7bf6;
  --baseBorderGrey: #dadde1;
  --baseBorderDarkGrey: rgba(255, 255, 255, 0.1);
  --baseWhite: #ffffff;
  --baseGreen: #36a420;
  --baseYellowGreen: #87d068;
  --baseBlack: #000000;
}
